amqp==5.0.6
appdirs==1.4.4
asgiref==3.3.4
attrs==20.3.0
billiard==3.6.4.0
black==21.5b2
cached-property==1.5.2
celery==5.1.0
certifi==2022.12.7
cffi==1.15.1
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cryptography==39.0.1
cycler==0.10.0
distlib==0.3.6
Django==3.2.4
django-appconf==1.0.5
django-cors-headers==3.13.0
django-cryptography==1.1
djangorestframework==3.14.0
et-xmlfile==1.1.0
filelock==3.9.0
gunicorn==20.1.0
importlib-metadata==6.0.0
iniconfig==1.1.1
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
kombu==5.1.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mpld3==0.5.1
mypy-extensions==0.4.3
numpy==1.19.1
openpyxl==3.1.1
packaging==20.9
pandas==1.1.0
pathspec==0.8.1
Pillow==7.2.0
pipenv==2022.12.19
platformdirs==2.6.2
pluggy==0.13.1
prompt-toolkit==3.0.18
py==1.10.0
pycparser==2.21
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
regex==2021.4.4
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
vine==5.0.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
zipp==3.4.1
