.home
{
    height: 10%;
    background: #0E00AB;
    border-radius: 0 0 50% 50% / 50px;
}

.home path {
    fill: white;
    opacity: 0.09;
}

.home-button  {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}
