.survey {
    display: flex;
    background-color: rgba(220, 220, 220, 0.294);
  }

  .survey-sidebar {
    background: #0E00AB;
  }

  .survey-stepper {
    flex: 0.35 0.35 0;
    background-color: white;
  }

  .survey-container {
    flex: 2 1 0;
  }

  .survey-heading{
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    background-color: rgba(220, 220, 220, 0.711);
    margin: 1rem;
    border-radius: 10px;
  }

  .survey-questions {
    background-color: white;
    padding: 2rem;
    
  }

  .css-1w2fhyx-MuiFormControlLabel-root {
    margin-right: 30px !important;
  }